---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import Feature from '@components/Feature.astro'
import { Heading } from 'accessible-astro-components'
---

<DefaultLayout title="About">

    <!-- There's an issue with PageHeader on this page specifically. It throws off the styling of Feature when everything compiles at build time. -->
     
    <PageHeader
        title="About"
        subtitle=""
        bgType=""
        showBreadcrumbs=""
    />

    <section class="my-64">
        <div class="container">
            <Heading level="h2" class="mb-8">Features</Heading>
            <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
                <Feature icon="lucide:accessibility" title="Accessible by default">
                Keyboard navigation, focus indicators, ARIA labels, semantic HTML, and more. This theme is designed to be
                inclusive.
                </Feature>
                <Feature icon="lucide:puzzle" title="A11Y components">
                25+ components and counting, all tried and tested for the most optimal accessible experience for your
                visitors.
                </Feature>
                <Feature icon="lucide:moon" title="Dark mode">
                Fully integrated Dark mode gives your users the choice for their favorite viewing mode.
                </Feature>
                <Feature icon="lucide:paintbrush" title="Tailwind 4.0">
                Use the power of Tailwind to greatly improve your productivity and enhance your developer workflow.
                </Feature>
                <Feature icon="lucide:sparkles" title="Prettier">
                Less worry about formatting your code, let the Astro Prettier integration do the heavy lifting.
                </Feature>
                <Feature icon="lucide:code" title="ESLint">
                Lint your code with strict a11y settings to ensure you stay on track with the WCAG standards.
                </Feature>
                <Feature icon="lucide:bookmark" title="Blog & portfolio">
                This theme comes with a fully integrated blog and portfolio, dynamic pages and SEO optimization.
                </Feature>
                <Feature icon="lucide:file-text" title="Markdown & MDX">
                Easily use .md and .mdx pages to build your websites or use it with Netlify CMS.
                </Feature>
                <Feature icon="lucide:blocks" title="Design system">
                The theme offers some very handy utilities to help you build your website faster.
                </Feature>
            </div>
        </div>
    </section>

</DefaultLayout>