---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import Feature from '@components/Feature.astro'
import BlockQuote from '@components/BlockQuote.astro'
---

<DefaultLayout title="Methods">
    <PageHeader
        title="Methods"
        subtitle="How I approach my work"
        bgType="bordered"
        showBreadcrumbs=""
    />

    <section class="my-12">
        <div class="container">
            <BlockQuote author="Leo Frishberg, UX Manager (2018)">
                I have had the pleasure of having Ben on my team for over 18 months as we transition from a predominately UI-focused organization to embrace the broader UX scope. Throughout this transition, Ben has been out in front taking the lead, experimenting, trying on new roles and testing new ways of working.
            </BlockQuote>
        </div>
    </section>
    
    <section class="my-12">
        <div class="container space-content">
            <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
                <Feature icon="lucide:layout-grid" title="Object-Oriented UX">
                    The specific people we've chosen to serve, defined in terms of their relevant characteristics, contexts, and the domain they operate within.
                </Feature>
                <Feature icon="lucide:cup-soda" title="Jobs To Be Done">
                    The solution(s) that we believe will do the best job of addressing those problems. This is highly experimental.
                </Feature>
                <Feature icon="lucide:map" title="Continuous Discovery">
                    The specific problems those people actually face in the domain &mdash; whether obstacles or unmet needs &mdash; and that make sense for us to address.
                </Feature>
                <!-- <Feature icon="lucide:network" title="Opportunity Solution Tree">
                    The solution(s) that we believe will do the best job of addressing those problems. This is highly experimental.
                </Feature> -->
            </div>
        </div>
        </section>

</DefaultLayout>