---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import ContentMedia from '@components/ContentMedia.astro'
import { Heading } from 'accessible-astro-components'
import { Link } from 'accessible-astro-components'
---

<DefaultLayout title="Models">
    <PageHeader
        title="Models"
        subtitle="subtitle"
        bgType="bordered"
        showBreadcrumbs=""
    />

    <section class="my-12">
        <div class="container space-content">
            <ContentMedia imgSrc="/models/5-planes.png">
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
            <ContentMedia imgSrc="/models/business-customer-value.png" reverseImg={true}>
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
            <ContentMedia imgSrc="/models/business-customer-technical.png">
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
            <ContentMedia imgSrc="/models/double-diamond.png" reverseImg={true}>
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
            <ContentMedia imgSrc="/models/elements-of-product-design.png">
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
            <ContentMedia imgSrc="/models/honeycombe.png" reverseImg={true}>
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
            <ContentMedia imgSrc="/models/ikigai.png">
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
            <ContentMedia imgSrc="/models/people-problem-solution.png" reverseImg={true}>
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
            <ContentMedia imgSrc="/models/system-mental-conceptual.png">
                <Heading level="h2">Model</Heading>
                <p class="text-2xl">
                    This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a lot of others are integrated using a <Link isExternal href="https://github.com/incluud/accessible-astro-components">separate package</Link>. They'll get you up and running in building an accessible solution for your visitors.
                </p>
            </ContentMedia>
        </div>
    </section>

</DefaultLayout>