---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import Feature from '@components/Feature.astro'
import BlockQuote from '@components/BlockQuote.astro'
---

<DefaultLayout title="Methods">
    <PageHeader
        title="ORCA Navigator"
        subtitle="A tool I built for encoding object models"
        bgType="bordered"
        showBreadcrumbs=""
    />
    
    <div class="section container my-24">
        Coming soon...
    </div>

</DefaultLayout>