---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Heading } from 'accessible-astro-components'
import ContentMedia from '@components/ContentMedia.astro'
import Image from 'astro/components/Image.astro'
---

<DefaultLayout title="Philosophy">
  <PageHeader title="Philosophy" subtitle="" bgType="bordered" showBreadcrumbs={false} />

  <ContentMedia imgSrc="/philosophy/people-problem-solution.png">
    <Heading level="h2">Deliberate Choices</Heading>
    <p class="text-2xl">
      The right solution<sup>3</sup> to the right problem<sup>2</sup> for the right people<sup>1</sup>.
    </p>
    <p>
      Software is a means to an end. It ought to be designed that way, beginning with the people we're designing for,
      and focusing on helping them solve the problems that matter most to them.
    </p>
    <p>
      "Success", then, is multifaceted. It is ultimately measured in terms of how much we improve the lives of the
      people who use the system we've built.
    </p>
    <p>Everything else is a means to that end.</p>
  </ContentMedia>

  <ContentMedia imgSrc="/philosophy/customer-business-tech.png" reverseImg={true}>
    <Heading level="h2">Mutual Benefit</Heading>
    <p class="text-2xl">
      Built to deliver customer value<sup>4</sup> that drives business value<sup>5</sup> in a way that's technically sustainable<sup
        >6</sup
      >.
    </p>
    <p>
      Business success depends largely on customer success. When we find the synergy between the two, we create a
      virtuous cycle of mutual benefit: customer value &rarr; business value.
    </p>
    <p>
      Engineering is involved early and often, to ensure that this value can be delivered powerfully and sustainably
      over time.
    </p>
  </ContentMedia>

  <ContentMedia imgSrc="/philosophy/system-conceptual-mental-models.png">
    <Heading level="h2">Systemic Fit</Heading>
    <p class="text-2xl">
      Bridging the gap between the way the system actually works and the way people expect it to work.
    </p>
    <p>Mental models are the unstated expectations, needs, and desires people bring into their experience.</p>
    <p>
      The system model is the way the system actually works, the composite of all the decisions we've made in building
      it.
    </p>
    <p>
      Most of my work is in the space between &mdash; the conceptual model "bridge" &mdash; helping us create and
      strengthen systemic fit between the two.
    </p>
  </ContentMedia>

  <section class="my-12">
    <div class="space-content container">
      <Heading level="h2">In Practice</Heading>
      <p class="text-2xl">
        While principles are crucial, they are only as good as the practice that brings them to life.
      </p>
      <p>
        This is how I apply the principles described above in my design practice. It's a general sequence of steps, not
        a strict linear process.
      </p>
      <Image
        src="/philosophy/practice.png"
        alt="Principles in practice"
        width={1200}
        height={600}
        class="h-full w-full rounded-lg object-cover"
      />
    </div>
  </section>
</DefaultLayout>
