---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Card } from 'accessible-astro-components'
import { Heading } from 'accessible-astro-components'
import { Link } from 'accessible-astro-components'
---
<DefaultLayout title="Teaching">
    <PageHeader
        title="Teaching"
        subtitle="I've been teaching and presenting on design for years, mostly in virtual small group settings."
        bgType="bordered"
        showBreadcrumbs=""
    />

    <section class="my-12">
        <div class="container space-content">
            <div class="my-3 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
                <Card
                img="/presentations/object-mapping.png"
                url=""
                title="Object Mapping: The Backbone of OOUX"
                footer="Dec 11, 2025"
                >
                    We learned how to discover and model objects along with their attributes.
                </Card>
                <Card
                img="/presentations/improve-signup.png"
                url=""
                title="Improving the signup experience"
                footer="Oct 1, 2025"
                >
                    I led an in-person workshop to explore "hot spots" that were causing friction in our signup experience, and come up with ways to improve it.
                </Card>
                <Card
                img="/presentations/ooux-style-sketching.png"
                url=""
                title="OOUX-Style Sketching & Wireframing"
                footer="Sep 11, 2025"
                >
                    I demonstrated how OOUX helps us translate conceptual models directly into the UI.
                </Card>
                <Card
                img="/presentations/intro-to-ooux.png"
                url=""
                title="An Introduction to Object-Oriented UX (OOUX)"
                footer="Aug 21, 2025"
                >
                    OOUX is a powerful philosophy for digital product design. It has become the foundation of my design practice, and calls for a lot of collaboration. So I invited as many people from UX, Product, Engineering, and Marketing as I could. We had a good turnout!
                </Card>
                <Card
                img="/presentations/figma-make.png"
                url=""
                title="Figma Make: What I've Learned from Years of Prototyping & How Figma Make Can Help"
                footer="Aug 7, 2025"
                >
                    I've prototyped using tools like Balsamiq, pen and paper, spreadsheets, Sketch, Figma, and HTML+CSS. Emerging AI prototyping tools like Figma Make are extremely useful, but require careful handling.
                </Card>
                <Card
                img="/presentations/problem-definition.png"
                url=""
                title="Sharpening the Axe: A Case for Problem Definition"
                footer="Feb 13, 2025"
                >
                    I led a discussion on why and how to define problems before attempting to solve them, drawing heavily from Bill Burnett and Dave Evans' book <em>Designing You (New) Work Life</em>. We then did a problem reframing exercise using a real situation described in a post on Reddit (r/careerguidance).
                </Card>
                <!-- <Card
                img="/presentations/"
                url=""
                title="How I'm Using Notion In My Work"
                footer="Jan 30, 2025"
                >
                    Description here...
                </Card> -->
                <!-- <Card
                img="/presentations/"
                url=""
                title="One Way to Learn About Customer Jobs"
                footer="Nov 7, 2024"
                >
                    Description here...
                </Card> -->
                <Card
                img="/presentations/information-design.png"
                url=""
                title="Information Design"
                footer="Oct 17, 2024"
                >
                    I co-presented this live session at our annual company summit along with Aaron, one of our BI Managers. We taught how to approach information design using an expanded model based on the DIKW pyramid.
                </Card>
                <!-- <Card
                img="/presentations/"
                url=""
                title="Hot Garbage: Bad Design By Design"
                footer="Jan 9, 2025"
                >
                    Description here...
                </Card> -->
                <Card
                img="/presentations/intro-to-value-proposition-design.png"
                url=""
                title="An Intro to Value Proposition Design"
                footer="Sep 26, 2024"
                >
                    I led a discussion and activity on how to use Strategyzer's Value Proposition Canvas, along with some related concepts like their Business Model Canvas.
                </Card>
                <Card
                img="/presentations/intro-to-modeling-2.png"
                url=""
                title="An Intro to Modeling: Part 2"
                footer="Sep 12, 2024"
                >
                    This was a followup to the previous session, showing how to lay a good foundation for modeling work.
                </Card>
                <Card
                img="/presentations/intro-to-modeling-1.jpg"
                url=""
                title="An Intro to Modeling: Part 1"
                footer="Aug 15, 2024"
                >
                    I led a discussion of what modeling is and why we use it, then facilitated an activity to show how it works.
                </Card>
                <!-- <Card
                img="/presentations/"
                url=""
                title="Conceptual Model Grammar"
                footer="Jul 11, 2024"
                >
                    Description here...
                </Card> -->
                <Card
                img="/presentations/interaction-flow-diagramming.png"
                url=""
                title="Interaction Flow Diagramming"
                footer="Aug 6, 2021"
                >
                    I talked about the principles and process for creating interaction design flow diagrams, what they are, and how they can be used to strengthen design proposals.
                </Card>
                <Card
                img="/presentations/home-coffee-roasting-101.png"
                url=""
                title="Home Coffee Roasting 101"
                footer="Apr 1, 2021"
                >
                    This was a wildcard topic for our team's first <em>Design Week</em>. I'm an avid home coffee roaster, so I zoomed out to give attendees a bigger "systems view" of the coffee industry - including how it's grown, processed, sold, and purchased - and how they could begin roasting at home.
                </Card>
                <Card
                img="/presentations/grammar-mapping.png"
                url=""
                title="Semantic IxD & Grammar Mapping: Parts 1-4"
                footer="Feb 12 - Mar 12 2021"
                >
                    Inspired by Dan Rosenberg's <em>UX Magic</em> and Johnson and Henderson's <em>Conceptual Models: Core to Good Design</em>, I taught a 4-part series on how to lay the conceptual groundwork for design before getting into screens. This was before I knew about OOUX.
                </Card>
                <!-- <Card
                img="/presentations/"
                url=""
                title="Structured Brainstorming with the Creative Matrix"
                footer="Nov 13, 2020"
                >
                    Description here...
                </Card> -->
                <Card
                img="/presentations/exploring-ideas-broadly-and-deeply.png"
                url=""
                title="Exploring Ideas Broadly & Deeply"
                footer="Oct 23, 2020"
                >
                    This session was about how designers can help stakeholders and teams shift their perspective between breadth and depth, and use this perspective to make better decisions on scope.
                </Card>
                <Card
                img="/presentations/thresholds-of-detail.png"
                url=""
                title="Thresholds of Detail in Software Work"
                footer="Sep 25, 2020"
                >
                    I taught a simple model for how to balance detail and time in design (and overall product) work.
                </Card>
                <Card
                img="/presentations/value-dichotomy.png"
                url=""
                title="The Value Dichotomy"
                footer="Jul 3, 2020"
                >
                    Producers and consumers can value the same thing very differently, in ways that traditional metrics struggle to capture. I zoomed out to look at this issue and get the group thinking about how to measure "experienced value". How do we go beyond <em>solution shipped</em> to <em>problem solved</em>?
                </Card>
                <Card
                img="/presentations/persuasive-ux-metrics.png"
                url=""
                title="Highlights from 'Persuasive UX Metrics'"
                footer="Jun 19, 2020"
                >
                    I shared my takeaways from Jared Spool's 5 day intensive on "Persuasive UX Metrics".
                </Card>
                <Card
                img="/presentations/css-basics.png"
                url=""
                title="CSS Basics"
                footer="May 22, 2020"
                >
                    I co-presented on the basics of writing CSS and we worked through an exercise together.
                </Card>
                <Card
                img="/presentations/html-basics.png"
                url=""
                title="HTML Basics"
                footer="May 15, 2020"
                >
                    I led a discussion on HTML, where we also got into topics like web accessibility and SEO.
                </Card>
                <!-- <Card
                img="/presentations/"
                url=""
                title="Negotiation"
                footer="May 1, 2020"
                >
                    This was a guided discussion on negotiation techniques, drawn from Chris Voss' book "Never Split the Difference".
                </Card> -->
                <Card
                img="/presentations/experience-visioning.png"
                url=""
                title="Experience Visioning"
                footer="Mar 27, 2020"
                >
                    I led a discussion of experience visioning, with examples from Apple, Disney, Uber, Intel, and more.
                </Card>
                <Card
                img="/presentations/importance-difficulty-matrix.png"
                url=""
                title="The Importance/Difficulty Matrix"
                footer="Jul 12, 2019"
                >
                    The Importance/Difficulty Matrix is a tool for resolving some of the tensions that exist in prioritizing ideas. I led participants through the basic theory and ran a group exercise to help everyone practice the method.
                </Card>
            </div>
        </div>
    </section>

</DefaultLayout>