---
import { Icon } from 'astro-icon/components'
---

<div class="text-neutral-500 light:bg-zinc-200 dark:bg-zinc-900 py-4 px-6 rounded-lg">
    <!-- <Icon aria-hidden="true" name="lucide:asterisk" size="2rem" /> -->
    <slot />
</div>