---
import { Icon } from 'astro-icon/components'
---

<div class="border border-zinc-200 dark:border-zinc-800 py-4 px-6 rounded-lg">
    <Icon aria-hidden="true" name="lucide:asterisk" size="2rem" />
    <slot />
</div>