---
import { Media } from 'accessible-astro-components'

/**
 * ContentMedia Component
 *
 * @description A component that displays content alongside media, with the option to reverse the image position
 */
interface Props {
  /**
   * The source URL for the image
   */
  imgSrc: string
  /**
   * Whether to display the image on the right side instead of the left
   * @default false
   */
  reverseImg?: boolean
}

const { imgSrc, reverseImg = false }: Props = Astro.props
---

<section class="my-24">
  <div class="container">
    <div class="gap-l grid grid-cols-1 md:grid-cols-2 md:gap-24">
      <Media class:list={['rounded-lg', 'content-media-image', reverseImg && 'md:order-2']} src={imgSrc} />
      <div class:list={['space-content', 'flex', 'flex-col', 'justify-center', reverseImg && 'md:order-1']}>
        <slot />
      </div>
    </div>
  </div>
</section>
