---
import { Link } from 'accessible-astro-components'
import { Heading } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

const { src = '/ben-workshop.jpg' }: Props = Astro.props
---

<section class="hero my-12">
  <div class="container" style="width: min(100%, 900px); margin-left: auto; margin-right: auto;">
    <div style="text-align:center">
      <Heading level="h1">
        <!-- Improving experiences<br />through thoughtful<br />structural design -->
        Improving experiences by <span class="text-gradient">designing the system</span> beneath the surface
      </Heading>
    </div>
  </div>
</section>

<section class="hero-image mb-24">
  <div class="container">
    <Image
      src={src}
      alt="Ben facilitating a design workshop with stakeholders"
      width={1200}
      height={800}
      class="rounded-lg"
    />
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.05em;
  }
</style>
